.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
.vs/
**/.vs/
overseer/
shortest_path/*
!shortest_path/binvox
!shortest_path/shortest_methods.py
supervised_learning/*
!supervised_learning/supervised_methods.py
!supervised_learning/depth_2d_extraction/
supervised_learning/depth_2d_extraction/*
!supervised_learning/depth_2d_extraction/monocular_depth.ipynb
map_data/astar_paths/*
!map_data/astar_paths/README.txt
!map_data/astar_paths/v1/
map_data/observations/*
!map_data/observations/README.txt
map_data/rooftops/*
!map_data/rooftops/README.txt
!map_data/rooftops/v1/
map_data/voxels/
models/*
!models/README.txt
!models/navigation_airsim_blocks_dqn_2d/
!models/monocular_depth/DGNLNet/AirSimNH_v1
