.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
.vs/
**/.vs/
_**
**/_**
.dropbox**
todo.txt
airsim/
overseer/
shortest_path/
supervised_learning/
bank/
data/astar_paths/*
!data/astar_paths/README.txt
!data/astar_paths/v1/
data/observations/*
!data/observations/README.txt
data/rooftops/*
!data/rooftops/README.txt
!data/rooftops/v1/
data/grids/
data/voxels/
models/*
!models/README.txt
!models/navigation_airsim_blocks_dqn_2d/
utils/*
!utils/methods.py
!utils/notebook_eval.ipynb
!utils/visualization.ipynb
